.about {

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: url(../img/section_wave.svg);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__text {
    max-width: 400px;
    margin-right: 23px;
  }
}