section.contacts 
  .container
    .contacts__wrapper 
      img(src="img/map.png", alt="map")
      .contacts__info 
        h2.title.contacts__title Контакты
        p.contacts__adress Адрес: <br>
          span Кайдаловская ул., 37, Чита
        .contacts__numbers 
          a.contacts__tel(href="tel:+73022217856") +7 (3022) 217856
          a.contacts__tel(href="tel:+79294830255") +79294830255
        .contacts__socials 
          a.contacts__social(href="#")
            img(src="img/viber.png", alt="viber")
          a.contacts__social(href="#")
            img(src="img/whatsapp.png", alt="whatsapp")