section.feedback 
  .container
    h2.title Ваши отзывы
    .feedback__cards 
      .feedback__card 
        img.feedback__avatar(src="img/avatar.png", alt="avatar")
        p.feedback__name Иван Иванов
        p.feedback__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        p.feedback__date 01.02-03.02
      .feedback__card 
        img.feedback__avatar(src="img/avatar.png", alt="avatar")
        p.feedback__name Иван Иванов
        p.feedback__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        p.feedback__date 01.02-03.02
      .feedback__card 
        img.feedback__avatar(src="img/avatar.png", alt="avatar")
        p.feedback__name Иван Иванов
        p.feedback__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        p.feedback__date 01.02-03.02
      .feedback__card 
        img.feedback__avatar(src="img/avatar.png", alt="avatar")
        p.feedback__name Иван Иванов
        p.feedback__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        p.feedback__date 01.02-03.02