footer.footer 
  .container 
    .footer__wrapper 
      a.footer__logo(href="#")
        img(src="img/footer__logo.png", alt="logo")
      .footer__nav
        h3.footer__title Навигация
        nav.footer__nav
          li.footer__nav--item
            a.footer__nav--link(href="#")  Главная
          li.footer__nav--item
            a.footer__nav--link(href="#")  О гостинице
          li.footer__nav--item
            a.footer__nav--link(href="#")  Преимущества
          li.footer__nav--item
            a.footer__nav--link(href="#")  Номера
          li.footer__nav--item
            a.footer__nav--link(href="#")  Отзывы          
      .footer__buttons 
        h3.footer__title Быстрая связь
        button.reserv.footer__reserv Забронировать
        button.connect.footer__connect Обратная связь
      .footer__contacts 
        h3.footer__title Контакты
        p.footer__adress Адрес: <br>
          span Кайдаловская ул., 37, Чита
        .footer__numbers 
          a.footer__tel(href="tel:+73022217856") +7 (3022) 217856
          a.footer__tel(href="tel:+79294830255") +79294830255
        .footer__messangers 
          a.footer__messanger(href="#")
            img(src="img/viber.png", alt="viber")
          a.footer__messanger(href="#")
            img(src="img/whatsapp.png", alt="whatsapp")
    .footer__bottom © Все права защищены.    