header.header 
  .container 
    .header__wrapper 
      a(href="#").logo
        img(src="img/logo.png", alt="Байкал")
      nav.header__nav 
        li.header__nav--item 
          a(href="").header__nav--link Главная
        li.header__nav--item 
          a(href="").header__nav--link О гостинице
        li.header__nav--item 
          a(href="").header__nav--link Преимущества
        li.header__nav--item 
          a(href="").header__nav--link Номера
        li.header__nav--item 
          a(href="").header__nav--link Отзывы
      button.connect.header__connect Обратный звонок