section.hero
  .container
    .hero__inner
      .hero__wrapper
        h1.hero__title Байкал
        p.hero__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        button.reserv.hero__button Забронировать
      img.hero__img(src="img/hero_bg.png", alt="Байкал")