section.rooms 
  .container 
    h2.title Наши номера
    .rooms__cards 
      .rooms__card 
        img.rooms__img(src="img/single__room.svg", alt="")
        h3.rooms__subtitle Одноместный номер
        ul.rooms__inclides 
         li.rooms__include Душ
         li.rooms__include Кровать
         li.rooms__include Телевизор
         li.rooms__include Wi-Fi 
         li.rooms__include Чистая постель
         li.rooms__include Уютная обстановка
        h4.rooms__cost Стоимость
        p.rooms__price 1000₽ / сутки
      .rooms__card 
        img.rooms__img(src="img/room__two.svg", alt="")
        h3.rooms__subtitle Одноместный номер
        ul.rooms__inclides 
         li.rooms__include Душ
         li.rooms__include Кровать
         li.rooms__include Телевизор
         li.rooms__include Wi-Fi 
         li.rooms__include Чистая постель
         li.rooms__include Уютная обстановка
        h4.rooms__cost Стоимость
        p.rooms__price 2000₽ / сутки



